@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --main-color: #0F6466;
    --header-color: #2C3532;
    --text-color: #f0f0f0;
    --button-color: #D2E8E3;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

html {
    background-color: var(--main-color);
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    flex-basis: 5%;
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 4px;
    align-items: center;
    gap: 8px;
    font-family: 'Rubik', sans-serif;
}

.header img {
    height: 60px;
    border-radius: 50%;
}

.header {
    box-shadow: 0px 4px 8px 4px rgba(0.0, 0.0, 0.0, 0.4);
}

.content {
    flex: 1 1 90%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .game {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

.game-ui {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selected {
    height: 150px;
    width: 150px;
    border: 5px solid var(--header-color);
    border-radius: 20%;
    flex-shrink: 0;
}

.rock-background {
    background-image: url(./images/rock.gif);
    background-size: 100% 100%;
}

.paper-background {
    background-image: url(./images/paper.gif);
    background-size: 100% 100%;
}

.scissors-background {
    background-image: url(./images/scissors.gif);
    background-size: 100% 100%;
}
  
.player, .computer {
    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.player button, .computer button, .game button, .modal-button {
    width: 90px;
    height: auto;
    border-radius: 10px;
    border: 3px solid var(--header-color);
    background-color: var(--button-color);
    font-family: 'Rubik', sans-serif;
}

.computer button {
    width: 50%;
    font-size: 16px;
    flex-grow: 1;
}

.game .start-button {
    font-weight: bold;
    padding: 8px;
    color: var(--text-color);
    background-color: var(--header-color);
    border-color: var(--text-color);
}

.player button:hover, .start-button:hover, .modal-button:hover {
    transform: scale(1.1);
}

.game h1 {
    text-align: center;
    color: var(--text-color);
}


.footer {
    justify-content: center;
}

.modal-container {
    width: 20%;
    height: 20%;
    background-color: #D8B08C;
    border: 4px solid var(--header-color);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
}

.modal-content {
    font-family: 'Rubik', sans-serif;
    color: var(--header-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* FOR PHONE SETTINGS */
@media screen and (max-width: 480px) {
    .modal-container{
        width: auto;
        height: auto;
    }
}
